// Mixins Here

.btn-style(@width: 40%, @color){
    border: 1px @title-color solid;
    background-color: @title-color;
    padding: 10px;
    color: @color;
    font-size: 1.6rem;
    border-radius: 10px;
    width: @width;
    display: flex;
    justify-content: center;
}


.btn-style-hover(@width: 40%, @bg-color){
    border: 1px @title-color solid;
    background-color: @bg-color;
    padding: 10px;
    color: @title-color;
    font-size: 1.6rem;
    border-radius: 10px;
    width: @width;
    display: flex;
    justify-content: center;
}

.phone(){
    width:100%;
}

.hide(){
    display: none;
}

.fixed-nav(){
    z-index: 9999;
    top: 0;
    position: sticky;
    background-color: rgba(255,255,255,0.75);
}

