// Navigation code here
.navBar{
        width: 100%;
        margin: auto;
        .fixed-nav();

        @media @phone{
            width: 100%;
        }

    
    .spacew-logo{
        margin:auto;
        width: 80rem;
        padding: 10px 0;
        h1{
            font-size: 4rem;
            text-align: center;
            color: @title-color;
        }
        @media @phone{
            width: 100%;
            padding-bottom: 5px;
            h1{
                font-size: 3rem;
                text-align:center;
            }
            
        }
    }
    .navLinks{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;
        margin: auto;
        width: 80rem;
        @media @phone{
            width: 40rem;
         
        }

        a{
            text-decoration: none;
            color: @title-color;
            font-size: 1.6rem;
            @media @phone{
                font-size:1.3rem;
            }
        }
        a:visited{
            color: @title-color;
        }
    }
    
}
